<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.tomgarden.lib.permission">

    <application>
        <activity
            android:name=".PermissionActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
